# Manual testing/Performance
ipython
pyperformance

# Style linting
pre-commit
flake8
pylint
pydocstyle

# Unit testing
pytest
pytest-cov

# Required packages
coloredlogs
psutil
jsonschema
typing-extensions

# Install package
.
